html {
    height: 100%;
}

body{
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
}

button{
    border: thin solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid black;

}

tbody tr{
    font-weight: normal;
}

header{
    position: sticky;
    top: 0;
    padding-bottom: 20px;
}

.header__inner{
    padding-top: 20px;
    background-color: white;
}

.logo{
    font-size:28px;
    width: 150px;
    border: thin solid black;
    text-align: center;
}

.header__logo {
    text-decoration: none;
}

.header__welcome{
    text-align: right;
}

.header__menu{
    border: thin solid black;
}

.header__menu li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.header__menu ul{
    margin: 0px;
    padding-left: 0px;
}

.form{
    border: thin solid black;
    margin: auto;
    text-align: center;
}

.form input{
    display: block;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.form button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 16px;
}

.form--login{
    width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 8px;
}

.form--login h1,
.form--login-edit h1{
    margin-bottom: 8px;
}

.form--login .error{
    min-height: 32px;
}

.form--login .error--visible,
.form--login-edit .error--visible{
    color: red;
    padding-bottom: 8px;
}

.form--login-edit{
    width: 500px;
}

.add-button{
    padding-top: 10px;
}

.icon-link:hover{
    text-decoration: none;
}

footer{
    padding-top: 20px;
}

.footer__inner{
    border: thin solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}